---
import MainHead from "./MainHead.astro";

// style import
import "../styles/global.css"
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro"



const { title = "My Astro project", description = "I like dirt" } = Astro.props

---
<html lang="en">
<MainHead {title} {description}/>

<body>
    <Nav/>
    <main>
        <slot>
            Default text
        </slot>
    </main>

    <Footer/>



</body>
</html>
<style>


</style>
